body {
    font-family: "DIN Alternate", sans-serif;
    font-size: 16px;
    background-color: #EDE0D7;
}
  

@tailwind base;
@tailwind components;
@tailwind utilities;


.user-text{
    margin-left: 13px;
    color: #614F3F;
    width: 300px;
    background-color: #F6F6F6;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.capy-text{
    margin-right: 13px;
    color: #FFFFFF;
    width: 300px;
    background-color: #8CB9FF;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}
